<!dOCTYPE html>

<html lang="en">
  <head>
  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>SIGNUP</title>
  </head>
  <style>
  h1{font-size: 60px;}
  body{
	
	background-image: url("{% static "svg/signup2.svg"%}");
	background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
	.card{
	border-radius: 15px;
	margin-bottom:50px;
	padding-bottom: 50px;
	 box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 40px 20px 0px rgba(0, 0, 0, 0.19);
	 font-size: 20px;
	 }
	.container{
	margin-top:60px;
	}
	.btn{
background-color: black;
font-size: 20px;
width:30%;
height:60%;
color: white;
}
	</style>
  <body>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="home.html">

    TECH KNIGHTS
  <nav class="nav nav-pills flex-column flex-sm-row justify-content-end">
  <a class="flex-sm-fill text-sm-center nav-link text-white" href="login">LOGIN</a>
  <a class="flex-sm-fill text-sm-center nav-link text-white active" href="signup">SIGNUP</a>
  <a class="flex-sm-fill text-sm-center nav-link text-white" href="{%url "aboutus"%}">ABOUT</a>
  <a class="flex-sm-fill text-sm-center nav-link text-white" href="#">CONTACT</a>
</nav>
  </a>
</nav>

<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-md-auto ">
	<div class="card mb-3" >
  <div class="row no-gutters">

    <div class="col-md-auto">
      <div class="card-body">
        <h1 class="heading text-black text-center">SIGNUP</h1>
        <form action="{%url "info"%}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}

            <div class="form-row text-black">
                <div class="form-group ">
                <label for="inputName" name="x">Name : {{name}}</label>
                <input type="hidden" id="name" name="name" value="{{name}}">
                </div>
            </div>
            <div class="form-row text-black">
            <div class="form-group col-md-4">
            <label for="inputSem">Role</label>
                <select id="inputSem" class="form-control" name="role" placeholder="choose">
                    <option>USER</option>
                    <option>VOLUNTEER</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="ENTER YOUR EMAIL ID" required>
            </div>
            </div>
            <div class="form-row text-black">

                <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="SET PASSWORD" onkeyup='check();' required>
                </div>
                <div class="form-group col-md-6">
                <label for="inputPassword4">Confirm Password</label>      

                <input type="password" class="form-control" id="inputPassword5" name="confirmpassword" placeholder="CONFIRM PASSWORD" onkeyup='check();' required>
                <span id='message'></span>
				</div>
            </div>
            <div class="form-row text-black">
            <div class="form-group col-md-6">
                <label for="inputprn">Phone number</label>
                <input type="text" class="form-control" id="inputprn" name="prn"  pattern="[1-9]{1}[0-9]{9}" placeholder="PHONE NUMBER" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputdate">Birth Date</label>
                <input type="date" id="birthday" name="birthday">
            </div>
            </div>
            <div class="form-row text-black">
                <label for="Building">Apartment</label>
                <input type="text" class="form-control" id="apartment" name="apartment" placeholder="ENTER YOUR ADDRESS" required>
            </div>
            <div class="form-row text-black">
                <label for="Street">Street</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="ENTER YOUR ADDRESS" required>
            </div>
            <div class="form-row text-black">
                <label for="Area">Area</label>
                <input type="text" class="form-control" id="area" name="area" placeholder="ENTER YOUR ADDRESS" required>
            </div>
            <div class="form-row text-black">
            <div class="form-group col-md-6">
                <label for="City">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="CITY" required>
                </div>
                <div class="form-group col-md-6">
                <label for="pincode">Pincode</label>
                <input type="number" class="form-control" pattern="[1-9]{1}[0-9]{5}" maxlength="6" id="pincode" name="pincode" placeholder="PINCODE" required>
                </div>

            </div>


            <div class="form-group text-black">
                <div class="form-check text-black">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                    The above information is best of my knowledge.
                </label>
                </div>
            </div>
            </div>
            <div class="text-center">
            <button type="submit" id="submit" class="btn btn-dark">Sign in</button>
            </div>
            </form>
            </div>
        </div>
        </div>
        </div>
        </div>
            
<script>var check = function() {
  if (document.getElementById('inputPassword4').value ==
    document.getElementById('inputPassword5').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
	document.getElementById('submit').disabled = false;
  }

}</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>