<!doctype html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>FILES</title>
	<style>

	.card{
background-color: #000000;
border-radius: 10px;
margin-top: 5%;
 padding-top: 10px;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 40px 20px 0px rgba(0, 0, 0, 0.19);
  margin-left:30%
}

.card-text{
color: white;
font-size: 25px;
}

.card-title{
color: white;
font-weight: bold;
text-align: center;
padding-bottom: 10px;
}
.btn {
  background-color: #FFFFFF;
  color: black;
  font-weight:bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  width: 100%;
 margin-top: 40px;
margin-bottom: 0px;
}
.header{
margin-top:  20px;
margin-bottom: 20px;
text-align: center;
color: black;
font-weight: bold;
}
.dropdown {
  position: relative;
  display: inline-block;
}
#bt{
margin-left: 20px;
}
#def{
margin-left: 20px;
}
.card{
background-color: #1b4965;
width: 70%;
margin-left: 18%;;
}
#big-img {
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}


</style>
  </head>
  <body>

 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="">AAPKA SAHARA</a>

  <div class="nav nav-pills flex-column flex-sm-row justify-content-end" id="navbarSupportedContent">

  <a class="flex-sm-fill text-sm-center nav-link text-white " href="teacher.html">DASHBOARD</a>




</div>
  </a>
</nav>

<!--Audio-->
<script>
    function audio1() {
      var audio = document.getElementById("Audio1");
      audio.play();
    }
    function audio2() {
      var audio = document.getElementById("Audio2");
      audio.play();
    }
    function audio3() {
      var audio = document.getElementById("Audio3");
      audio.play();
    }

    function audio4() {
      var audio = document.getElementById("Audio4");
      audio.play();
    }
    function audio5() {
      var audio = document.getElementById("Audio5");
      audio.play();
    }
    function audio6() {
      var audio = document.getElementById("Audio6");
      audio.play();
    }
    function audio7() {
      var audio = document.getElementById("Audio7");
      audio.play();
    }
    function audio8() {
      var audio = document.getElementById("Audio8");
      audio.play();
    }
    function audio9() {
      var audio = document.getElementById("Audio9");
      audio.play();
    }
    function audio10() {
      var audio = document.getElementById("Audio10");
      audio.play();
    }
    function audio11() {
      var audio = document.getElementById("Audio11");
      audio.play();
    }
    function audio12() {
      var audio = document.getElementById("Audio12");
      audio.play();
    }
    function audio13() {
      var audio = document.getElementById("Audio13");
      audio.play();
    }
    function audio14() {
      var audio = document.getElementById("Audio14");
      audio.play();
    }
    function audio15() {
      var audio = document.getElementById("Audio15");
      audio.play();
    }
    function audio16() {
      var audio = document.getElementById("Audio16");
      audio.play();
    }
    function audio17() {
      var audio = document.getElementById("Audio17");
      audio.play();
    }
  </script>
  <!--Audo Ends-->


<div class="container">

  <div class="row">

    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Flogin_1.PNG?alt=media&token=13fe3981-d3b0-4f3b-a124-d19a92436fb7" alt="LOGIN" id="big-img">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <p class="card-text">
            1. Go to Home page.
                <audio id="Audio1">
                    <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio1.mp3?alt=media&token=4008c207-79a5-4235-878f-fc889f06348a" type="audio/mpeg" loop>
                </audio>
                <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio1()" /><br>
            2. Click on LOGIN button.
            <audio id="Audio2">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio2.mp3?alt=media&token=fb81d39a-da27-4052-bb0a-0e301254b833" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio2()" /><br>
            3. If you have your account created then enter email and password to proceed further.
            <audio id="Audio3">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio3.mp3?alt=media&token=8de86f86-7375-4b39-b9d7-f9f2ecc41d9f" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio3()" /><br>
            4. Press login button.
            <audio id="Audio4">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio4.mp3?alt=media&token=26f7813f-c2ab-49fb-99ab-cd5d21979dc8" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio4()" /><br>
            5. Congratulations you have signed into your account.
            <audio id="Audio5">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio5.mp3?alt=media&token=0258291a-423d-4706-9b5f-8d3eff447a79" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio5()" />
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="row">

    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fsignup_1.PNG?alt=media&token=f5cc584a-aa4f-49e6-ae9d-c0adb2913eff" alt="..." id="big-img">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">Sign Up</h2>
        <p class="card-text">
            1. Go to Home page.
            <audio id="Audio1">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio1.mp3?alt=media&token=4008c207-79a5-4235-878f-fc889f06348a" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio1()" /><br>
            2. Click on SIGNUP button.
            <audio id="Audio6">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio6.mp3?alt=media&token=03b38b18-4e16-40dd-8789-b9834fefab5c" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio6()" /><br>
            3. Enter the details required to fill the form.
            <audio id="Audio7">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio7.mp3?alt=media&token=2b9a88a1-d413-4e8f-8aa4-03e662c37787" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio7()" /><br>
            4. Press Sign in button.
            <audio id="Audio8">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio8.mp3?alt=media&token=db08aa31-01c8-4261-9cfc-960010270339" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio8()" /><br>
            5. Congratulations you have successfully created your account.
            <audio id="Audio9">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio9.mp3?alt=media&token=2d81b8e0-db6a-4558-aa92-8d4674c1191e" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio9()" />
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="row">

    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Faadhaar_1.PNG?alt=media&token=cada77c1-58af-4aea-aed2-79e40adc3bf4" alt="..." id="big-img">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">Aadhaar Verification</h2>
        <p class="card-text">
            1. Click on Choose file button.
            <audio id="Audio10">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio10.mp3?alt=media&token=b2511339-8059-4b85-ae37-0621602c6d35" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio10()" /><br>
            2. Select image of your Aadhaar QR code.
            <audio id="Audio11">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio11.mp3?alt=media&token=610a6ca9-e7ee-4217-bddb-9bff7b092a68" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio11()" /><br>
            3. Press upload to verify.
            <audio id="Audio12">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio12.mp3?alt=media&token=f2cc63de-cff6-4b65-b2c2-d6586d84e270" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio12()" />
        </p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="row">

    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FSchedule.jpeg?alt=media&token=06cde85b-7180-42af-9739-ea7dd274ee07" alt="..." id="big-img">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">Schedule Meeting</h2>
        <p class="card-text">
            1. Choose the volunteer nearby your location.
            <audio id="Audio13">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio13.mp3?alt=media&token=abfd9b94-5107-4888-b59f-647e64d37de5" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio13()" /><br>
            2. Select date and time for the meeting.
            <audio id="Audio14">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio14.mp3?alt=media&token=f986172f-7339-4dc8-95ab-453c690177c3" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio14()" /><br>
            3. Enter your phone number.
            <audio id="Audio15">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio15.mp3?alt=media&token=5246c793-f5e3-4f7b-b86e-cd562f204cf4" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio15()" /><br>
            4. Press SCHEDULE to create a meeting.
            <audio id="Audio16">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio16.mp3?alt=media&token=490ce931-3da6-4f47-8ec7-c41ad582ec65" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio16()" /><br>
            5. To check whether the meeting is scheduled, go back and press CHECK REPORT on EVENTS.
            <audio id="Audio17">
                <source src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2FAudio17.mp3?alt=media&token=bc888604-5c96-438a-acc4-a86c59fc5d5b" type="audio/mpeg" loop>
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/tech-knights-d8093.appspot.com/o/Files%2Fspeaker.jpeg?alt=media&token=89a7af3b-e2a5-4235-bda5-dce2cbaa3536" height="15" width="15" onClick="audio17()" />
        </p>
      </div>
    </div>
  </div>
</div>
  </div>


  </div>
  </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>